@font-face {
   font-family: '汉仪方隶简';
   font-display: swap;
   src: url('file:///C:/Users/Apple/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-16_235756/fonts/%E6%B1%89%E4%BB%AA%E6%96%B9%E9%9A%B6%E7%AE%80/font.ttf');
}
