@font-face {
   font-family: 'HuaWenXiHei-1';
   font-display: swap;
   src: url('file:///C:/Users/Apple/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-16_235756/fonts/HuaWenXiHei-1/font.ttf');
}
